﻿@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Aplicação do Administrador</h1>
    <p class="lead">Aplicação desenvolvida no âmbito nas iterações 4 e 5 da unidade curricular de ARQSI, desta vez centrada no Administrador. </p>
</div>

