﻿@using APPClienteIt3.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Imóveis It3", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (WebApiHttpClient.getToken()!=null) 
                    {
                        <li>@Html.ActionLink("Alertas", "Index", "Alertas")</li>
                        <li>@Html.ActionLink("Tipos de Imóveis", "Index", "TipoImovels")</li>
                        <li>@Html.ActionLink("Anúncios", "Index", "Anuncios")</li>
                    <li>@Html.ActionLink("Imóveis", "Index", "Imovel_Venda_Permuta_Aluguer")</li>
                    }
                    <li>@Html.ActionLink("Info", "Contact", "Home")</li>          
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ARQSI</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
