﻿@model APPClienteIt3.Models.Anuncio_Aluguer

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<h4>Aluguer de Imóvel</h4>
<br />
<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
            <dt>
                Tipo de Imóvel
            </dt>

            <dd>
                @ViewBag.Imovel.tipoImovel
            </dd>

            <dt>
                Localização
            </dt>

            <dd>
                @ViewBag.Imovel.local
            </dd>

            <dt>
                Área
            </dt>

            <dd>
                @ViewBag.Imovel.area
            </dd>

            <dt>
                Renda
            </dt>

            <dd>
                @Html.DisplayFor(model => model.renda)
            </dd>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index", "Anuncios")
        </div>
    }
</div>
