﻿@model APPClienteIt3.Models.Anuncio_Aluguer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<h4>Aluguer de Imóvel</h4>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tipo de Imóvel
        </dt>
        
        <dd>
            @ViewBag.Imovel.tipoImovel
        </dd>

        <dt>
            Localização
        </dt>

        <dd>
            @ViewBag.Imovel.local
        </dd>
            
        <dt>
            Área
        </dt>

        <dd>
            @ViewBag.Imovel.area
        </dd>

        <dt>
            Renda
        </dt>

        <dd>
            @Html.DisplayFor(model => model.renda)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { controller = "Anuncio_Aluguer", id = Model.ID }) 
    |    @Html.ActionLink("Back to List", "Index", "Anuncios")
</p>
