﻿@model IEnumerable<APPClienteIt3.Models.Anuncio_Aluguer>

@{
    ViewBag.Title = "Index";
    Layout = null;
}

@if (Model.Any())
{
    <h4>Aluguer de Imóvel</h4>

    <table class="table">
        <tr>
            <th>
                Tipo de Imóvel
            </th>
            <th>
                Localização
            </th>
            <th>
                Área
            </th>
            <th>
                Renda
            </th>
            <th></th>
        </tr>

        @for (var i =0; i<Model.Count();i++)
        {
            <tr>
                <td>
                    @ViewBag.Imoveis[i].tipoImovel
                </td>
                <td>
                    @ViewBag.Imoveis[i].local
                </td>
                <td>
                    @ViewBag.Imoveis[i].area
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.ElementAt(i).renda)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.ElementAt(i).ID }) |
                    @Html.ActionLink("Details", "Details", new { id = Model.ElementAt(i).ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = Model.ElementAt(i).ID })
                </td>
            </tr>
        }

    </table>
}