﻿@model APPClienteIt3.Models.Anuncio_Permuta

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<h4>Permuta de Imóvel</h4>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tipo de Imóvel
        </dt>

        <dd>
            @ViewBag.Imovel.tipoImovel
        </dd>

        <dt>
            Localização
        </dt>

        <dd>
            @ViewBag.Imovel.local
        </dd>

        <dt>
            Área
        </dt>

        <dd>
            @ViewBag.Imovel.area
        </dd>

        <dt>
            Renda
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preco)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index", "Anuncios")
        </div>
    }
</div>
