﻿
@{
    ViewBag.Title = "DeleteNot";
}

<h2>Não é possível eliminar o Tipo de Imóvel selecionado!</h2>
<h4>O tipo de imóvel selecionado está a ser utilizado noutro sítio (Imóvel, Anúncio ou Alerta).</h4>

@Html.ActionLink("Back to List", "Index")