﻿@model APPClienteIt3.Models.TipoImovel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<h4>Tipo de Imóvel</h4>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            Sub-Tipo de Imóvel
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subtipo)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
