﻿@model APPClienteIt3.Models.TipoImovel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<h4>Tipo de Imóvel</h4>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            Sub-Tipo de Imóvel
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subtipo)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
