﻿@model IEnumerable<APPClienteIt3.Models.TipoImovel>

@{
    ViewBag.Title = "Lista de Tipos de Imóveis";
}

<h2>Lista de Tipos de Imóveis</h2>

    @if (ViewBag.Role == "Admin")
     {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <br />
    }

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            Sub-Tipo de Imóvel
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subtipo)
            </td>
            @if (ViewBag.Role == "Admin")
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            }
        </tr>
    }

</table>
