﻿@model APPClienteIt3.Models.Imovel_Venda_Permuta_Aluguer

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<h4>Imóvel Venda/Permuta/Aluguer</h4>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Tipo de Imóvel
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoImovel)
        </dd>

        <dt>
            Local
        </dt>

        <dd>
            @Html.DisplayFor(model => model.local)
        </dd>
        <dt>
            Latitude
        </dt>

        <dd>
            @Html.DisplayFor(model => model.latitude)
        </dd>
        <dt>
            Longitude
        </dt>

        <dd>
            @Html.DisplayFor(model => model.longitude)
        </dd>
        <dt>
            Área
        </dt>

        <dd>
            @Html.DisplayFor(model => model.area)
        </dd>

        @if (Model.fotoContent != null)
        {
            <dt>
                Foto
            </dt>
            <dd>
                <img src="~/Foto?id=@Model.fotoID" alt="foto" height="200" />
            </dd>
        }
        
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
