﻿@model APPClienteIt3.Models.Imovel_Venda_Permuta_Aluguer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<h4>Imóvel Venda/Permuta/Aluguer</h4>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Local
        </dt>

        <dd>
            @Html.DisplayFor(model => model.local)
        </dd>

        <dt>
            Tipo de Imóvel
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoImovel)
        </dd>

        <dt>
            Área
        </dt>

        <dd>
            @Html.DisplayFor(model => model.area)
        </dd>

        @if (Model.fotoContent != null)
        {
            <dt>
                Foto
            </dt>
            <dd>
                <img src="~/Foto?id=@Model.fotoID" alt="foto" height="200" />
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
