﻿@model APPClienteIt3.Models.Imovel_Venda_Permuta_Aluguer

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<h4>Imóvel para Venda/Permuta/Aluguer</h4>


@using (Html.BeginForm("Edit", "Imovel_Venda_Permuta_Aluguer", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.area, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.area, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.area, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.local, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.local, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.local, "", new { @class = "text-danger" })
                @Html.Hidden("localizacaoID", Model.ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.latitude, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.latitude, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.latitude, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.longitude, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.longitude, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.longitude, "", new { @class = "text-danger" })
            </div>
        </div>

        @if (Model.fotoContent != null)
        {
            <dt>
                Foto
            </dt>
            <dd>
                <img src="~/Foto?id=@Model.fotoID" alt="foto" height="200" />
            </dd>
        }

        <div class="form-group">
            @Html.Label("Foto", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="Foto" name="upload" />
            </div>
        </div>
        <!--Tipo de Imóvel-->
        <div class="control-group">
            <label class="control-label col-md-2" for="tipoImovelID">Tipo de Imóvel</label>
            <div class="col-md-2">
                @Html.DropDownList("TipoImovelID", String.Empty)
                @Html.ValidationMessageFor(model => model.tipoImovelID)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
