﻿@model IEnumerable<APPAdministrador.ViewModels.Alerta>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Alertas</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.intervaloAlerta)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.intervaloAlerta)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID }) 
        </td>
    </tr>
}

</table>
