<?php
$title = 'Anuncio Aluguer';
$separador = '----------------------------------------------';
$imovel = 'Informacoes sobre o Imovel: ';
$this->headTitle($title);
?>
 <h1><?php echo $this->escapeHtml($title); ?></h1>
 <?php
 $form->setAttribute('action', $this->url('mediador', array('action' => 'editaluguer','id'=>$vec['ID'])));
 $form->setData($this->vec);
 $form->prepare();

 echo $this->form()->openTag($form);
 echo $this->formHidden($form->get('id'));
 echo $this->formHidden($form->get('applicationUserID'));

 echo $this->formHidden($form->get('ImovelID'));
 echo $this->formHidden($form->get('tipoImovelID'));
 echo $this->formHidden($form->get('localizacaoID'));
 echo $this->formHidden($form->get('fotoID'));
 echo $this->formHidden($form->get('fotoContent'));
 echo $this->formHidden($form->get('fotoContentType'));
 echo $this->formHidden($form->get('valido'));
 echo $this->formHidden($form->get('MediadorID'));

 echo "<br/>";
 echo $this->escapeHtml($imovel);
 echo "<br/>";
 echo "<br/>";
 echo $this->formRow($form->get('tipoImovel'));
 echo "<br/>";
 echo $this->formRow($form->get('local'));
 echo "<br/>";
 echo $this->formRow($form->get('latitude'));
 echo "<br/>";
 echo $this->formRow($form->get('longitude'));
 echo "<br/>";
 echo $this->formRow($form->get('area'));
 echo "<br/>";
 
 echo "<br/>";
 echo $this->escapeHtml($separador);
 echo "<br/>";
 
 echo $this->formRow($form->get('renda'));
 echo "<br/>"; echo "<br/>";
 echo $this->formSubmit($form->get('submit'));
 echo "<br/>";
 
 echo $this->form()->closeTag();
 
?>
<br/>
 <li><a href="<?php echo $this->url('mediador', array('action'=>'index'));?>">Back</a></li>