 <?php

 $title = 'MEDIADOR Validar os Anuncios';
 $this->headTitle($title);
 ?>
<br/>
<h2>Validacao dos Anuncios</h2>

<br/>
 
  
<?php
$compraf=false;
$vendaf=false;
$permutaf=false;
$aluguerf=false;
foreach ($compra as $anuncioCompra) {

    if($anuncioCompra['valido']=="false")
    {
        $compraf=true;
    }
}

foreach ($aluguer as $anuncioAluguer) {
    if($anuncioAluguer['valido']=="false")
    {
        $aluguerf=true;       
    }
}

foreach ($venda as $anuncioVenda) {
        if($anuncioVenda['valido']=="false")
        {
               $vendaf=true;
    }
}

foreach ($permuta as $anuncioPermuta) {
    if($anuncioPermuta['valido']=="false")
    {
        $permutaf=true;       
    }
}
?>

<?php 
 if($compraf == true)
 {
     echo "<h4>Anuncios de Compra</h4>";
 }
 ?>
<table class="table" >
  <?php 
 if($compraf == true)
 {
  echo "<th>";
  echo "Tipo de Imovel";
  echo "</th>";
  echo "<th>";
  echo "Local";
  echo "</th>";
  echo "<th>";
  echo "Latitude";
  echo "</th>";
  echo "<th>";
  echo "Longitude";
  echo "</th>";
  echo "<th>";
  echo "Area Minima";
  echo "</th>";
  echo "<th>";
  echo "Area Maxima";
  echo "</th>";
  echo "<th>";
  echo "Preco Minima";
  echo "</th>";
  echo "<th>";
  echo "Preco Maxima";
  echo "</th>";
    foreach ($compra as $anuncioCompra) {
        
        if($anuncioCompra['valido']=="false")
        {
    echo "<tr>";
        echo "<td>";
        echo $anuncioCompra['tipoImovel'];
        echo "</td>";
        
        echo "<td>";
        echo $anuncioCompra['local'];
        echo "</td>";

        echo "<td>";
        echo $anuncioCompra['latitude'];
        echo "</td>";
        
        echo "<td>";
        echo $anuncioCompra['longitude'];
        echo "</td>";
        
        echo "<td>";
        echo $anuncioCompra['areaMin'];
        echo "</td>";
        
        echo "<td>";
        echo $anuncioCompra['areaMax'];
        echo "</td>";        
        
        echo "<td>";
        echo $anuncioCompra['precoMin'];
        echo "</td>";
        
        echo "<td>";
        echo $anuncioCompra['precoMax'];
        echo "</td>";
        ?>
        
 <?php
 $urlValidate = $this->url('mediador', array(
     'action' => 'validacompra',
     'id'     => $anuncioCompra['ID']
 ));
 
 $urlEdit = $this->url('mediador', array(
     'action' => 'editcompra',
     'id'     => $anuncioCompra['ID']
 ));
 
 $urlRemove = $this->url('mediador', array(
     'action' => 'removecompra',
     'id'     => $anuncioCompra['ID']
 ));
 ?>
        <td>
        <li><a href="<?php echo $urlValidate;?>">Validate</a></li>
 		<li><a href="<?php echo $urlEdit;?>">Edit</a></li>
 		<li><a href="<?php echo $urlRemove;?>">Remove</a></li>
 		</td>
 		
        <?php 
    echo "</tr>";
        }
    }
 } else {
     echo "<h4>Nao ha Anuncios de Compra</h4>";
 }
?>
</table>

<br/>

<?php 
 if($aluguerf == true)
 {
     echo "<h4>Anuncios de Aluguer</h4>";
 }
 ?>
  
  <table class="table">
  <?php 
  if($aluguerf == true)
  {
  echo "<th>";
  echo "Tipo de Imovel";
  echo "</th>";
  echo "<th>";
  echo "Local";
  echo "</th>";
  echo "<th>";
  echo "Latitude";
  echo "</th>";
  echo "<th>";
  echo "Longitude";
  echo "</th>";
  echo "<th>";
  echo "Area";
  echo "</th>";
  echo "<th>";
  echo "Renda";
  echo "</th>";
    foreach ($aluguer as $anuncioAluguer) {
        if($anuncioAluguer['valido']=="false")
        {
    echo "<tr>";
        echo "<td>";
        echo $anuncioAluguer['tipoImovel'];
        echo "</td>";
        
        echo "<td>";
        echo $anuncioAluguer['local'];
        echo "</td>";

        echo "<td>";
        echo $anuncioAluguer['latitude'];
        echo "</td>";
        
        echo "<td>";
        echo $anuncioAluguer['longitude'];
        echo "</td>";
        
        echo "<td>";
        echo $anuncioAluguer['area'];
        echo "</td>";
        
        echo "<td>";
        echo $anuncioAluguer['renda'];
        echo "</td>";

        ?>
 <?php
 $urlValidate = $this->url('mediador', array(
     'action' => 'validaaluguer',
     'id'     => $anuncioAluguer['ID']
 ));
 
 $urlEdit = $this->url('mediador', array(
     'action' => 'editaluguer',
     'id'     => $anuncioAluguer['ID']
 ));
 
 $urlRemove = $this->url('mediador', array(
     'action' => 'removealuguer',
     'id'     => $anuncioAluguer['ID']
 ));
 ?>
        <td>
        <li><a href="<?php echo $urlValidate;?>">Validate</a></li>
 		<li><a href="<?php echo $urlEdit;?>">Edit</a></li>
 		<li><a href="<?php echo $urlRemove;?>">Remove</a></li>
 		</td>
 		
        <?php 
    echo "</tr>";
        }
    }
    } else {
        echo "<h4>Nao ha Anuncios de Aluguer</h4>";
    }
?>
</table>

<br/>
<?php 
 if($vendaf == true)
 {
     echo "<h4>Anuncios de Venda</h4>";
 }
 ?>
  
  <table class="table">
  <?php 
  if($vendaf == true)
  {
  echo "<th>";
  echo "Tipo de Imovel";
  echo "</th>";
  echo "<th>";
  echo "Local";
  echo "</th>";
  echo "<th>";
  echo "Latitude";
  echo "</th>";
  echo "<th>";
  echo "Longitude";
  echo "</th>";
  echo "<th>";
  echo "Area";
  echo "</th>";
  echo "<th>";
  echo "Preco";
  echo "</th>";
    foreach ($venda as $anuncioVenda) {
        if($anuncioVenda['valido']=="false")
        {
    echo "<tr>";
        echo "<td>";
        echo $anuncioVenda['tipoImovel'];
        echo "</td>";
        
        echo "<td>";
        echo $anuncioVenda['local'];
        echo "</td>";

        echo "<td>";
        echo $anuncioVenda['latitude'];
        echo "</td>";
        
        echo "<td>";
        echo $anuncioVenda['longitude'];
        echo "</td>";
        
        echo "<td>";
        echo $anuncioVenda['area'];
        echo "</td>";
        
        echo "<td>";
        echo $anuncioVenda['preco'];
        echo "</td>";

        ?>
       
 <?php
 $urlValidate = $this->url('mediador', array(
     'action' => 'validavenda',
     'id'     => $anuncioVenda['ID']
 ));
 
 $urlEdit = $this->url('mediador', array(
     'action' => 'editvenda',
     'id'     => $anuncioVenda['ID']
 ));
 
 $urlRemove = $this->url('mediador', array(
     'action' => 'removevenda',
     'id'     => $anuncioVenda['ID']
 ));
 ?>
        <td>
        <li><a href="<?php echo $urlValidate;?>">Validate</a></li>
 		<li><a href="<?php echo $urlEdit;?>">Edit</a></li>
 		<li><a href="<?php echo $urlRemove;?>">Remove</a></li>
 		</td>
 		
        <?php 
    echo "</tr>";
        }
    }
    } else {
        echo "<h4>Nao ha Anuncios de Venda</h4>";
    }
?>
  </table>
   
  <br/>
   
   <?php 
 if($permutaf == true)
 {
   echo "<h4>Anuncios de Permuta</h4>";
 }
 ?>
  
  <table class="table">
  <?php 
  if($permutaf == true)
  {
  echo "<th>";
  echo "Tipo de Imovel";
  echo "</th>";
  echo "<th>";
  echo "Local";
  echo "</th>";
  echo "<th>";
  echo "Latitude";
  echo "</th>";
  echo "<th>";
  echo "Longitude";
  echo "</th>";
  echo "<th>";
  echo "Area";
  echo "</th>";
  echo "<th>";
  echo "Preco";
  echo "</th>";
    foreach ($permuta as $anuncioPermuta) {
        if($anuncioPermuta['valido']=="false")
        {
    echo "<tr>";
        echo "<td>";
        echo $anuncioPermuta['tipoImovel'];
        echo "</td>";
        
        echo "<td>";
        echo $anuncioPermuta['local'];
        echo "</td>";

        echo "<td>";
        echo $anuncioPermuta['latitude'];
        echo "</td>";
        
        echo "<td>";
        echo $anuncioPermuta['longitude'];
        echo "</td>";
        
        echo "<td>";
        echo $anuncioPermuta['area'];
        echo "</td>";
        
        echo "<td>";
        echo $anuncioPermuta['preco'];
        echo "</td>";

        ?>
 <?php
 $urlValidate = $this->url('mediador', array(
     'action' => 'validapermuta',
     'id'     => $anuncioPermuta['ID']
 ));
 
 $urlEdit = $this->url('mediador', array(
     'action' => 'editpermuta',
     'id'     => $anuncioPermuta['ID']
 ));
 
 $urlRemove = $this->url('mediador', array(
     'action' => 'removepermuta',
     'id'     => $anuncioPermuta['ID']
 ));
 ?>
        <td>
        <li><a href="<?php echo $urlValidate;?>">Validate</a></li>
 		<li><a href="<?php echo $urlEdit;?>">Edit</a></li>
 		<li><a href="<?php echo $urlRemove;?>">Remove</a></li>
 		</td>
        <?php 
    echo "</tr>";
        }
    }
    } else {
        echo "<h4>Nao ha Anuncios de Permuta</h4>";
    }
?>
  </table>


