﻿@model APPClienteIt3.Models.Alerta

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<h4>Alertas de Imóveis</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <h4>Tipos de Anúncios</h4>
        @for (var i = 0; i < ViewBag.TipoAnuncios.Count; i++)
        {
            @ViewBag.TipoAnuncios[i]
            <input type="checkbox" name="TipoAnuncio" value="@ViewBag.TipoAnuncios[i]" />
        }

        <h4>Tipos de Imóveis:</h4>
        @for (var i = 0; i < ViewBag.tipoImoveis.Count; i++)
        {
            @ViewBag.tipoImoveis[i]
            <input type="checkbox" name="TipoImovel" value="@ViewBag.tipoImoveis[i]" />
        }


        <h4>Localizacão: </h4>
        <input type="text" name="local" />

        <h4>Área Mínima: </h4>
        <input type="number" name="areaMin" />  m²

        <h4>Área Máxima</h4>
        <input type="number" name="areaMax" />  m²

        <h4>Preço Mínimo</h4>
        <input type="number" name="precoMin" />  €

        <h4>Preço Máximo</h4>
        <input type="number" name="precoMax" />  €


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
