﻿@model APPClienteIt3.Models.Alerta

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<h4>Alerta</h4>
<br />
<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            Tipo de Anúncio
        </dt>
        <dd>
            @for (var j = 0; j < @Model.fixo.Count; j++)
            {
                if (@Model.fixo[j][1] == "TipoAnuncio")
                {


                    <h5>@Model.fixo[j][2]</h5>
                }
            }
        </dd>

        <dt>
            Tipo de Imóvel
        </dt>
        <dd>
            @for (var j = 0; j < @Model.fixo.Count; j++)
            {
                if (@Model.fixo[j][1] == "TipoImovel")
                {

                    <h5>@Model.fixo[j][2]</h5>
                }
            }
        </dd>



        <dt>
            Área Mínima
        </dt>

        <dd>
            @for (var j = 0; j < @Model.parametroIntervaloNumerico.Count; j++)
            {
                if (@Model.parametroIntervaloNumerico[j][1] == "area")
                {

                    @Model.parametroIntervaloNumerico[j][2]
                }
            }
        </dd>

        <dt>
            Área Máxima

        </dt>
        <dd>
            @for (var j = 0; j < @Model.parametroIntervaloNumerico.Count; j++)
            {
                if (@Model.parametroIntervaloNumerico[j][1] == "area")
                {
                    if (@Model.parametroIntervaloNumerico[j][3] == "0")
                    {
                        <h5> </h5>
                    }
                    else
                    {
                    @Model.parametroIntervaloNumerico[j][3]
                 }
                }
            }
        </dd>

        <dt>
            Preço Mínimo
        </dt>
        <dd>
            @for (var j = 0; j < @Model.parametroIntervaloNumerico.Count; j++)
            {
                if (@Model.parametroIntervaloNumerico[j][1] == "preco")
                {
                    @Model.parametroIntervaloNumerico[j][2]
                }
            }
        </dd>

        <dt>
            Preço Máximo
        </dt>
        <dd>
            @for (var j = 0; j < @Model.parametroIntervaloNumerico.Count; j++)
            {
                if (@Model.parametroIntervaloNumerico[j][1] == "preco")
                {
                     if (@Model.parametroIntervaloNumerico[j][3] == "0")
                    {
                        <h5> </h5>
                    }
                    else
                    {
                    @Model.parametroIntervaloNumerico[j][3]
                }
                }
            }
        </dd>

        <dt>
            Local
        </dt>

        <dd>
            @for (var j = 0; j < @Model.parametroAlfaNumerico.Count; j++)
            {
                if (@Model.parametroAlfaNumerico[j][1] == "local")
                {

                    @Model.parametroAlfaNumerico[j][2]
                }
            }
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
