﻿@model APPClienteIt3.Models.Alerta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Alerta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tipo de Anúncio
        </dt>
        <dd>
            @for (var j = 0; j < @Model.fixo.Count; j++)
            {
                if (@Model.fixo[j][1] == "TipoAnuncio")
                {
                    @Model.fixo[j][2]
                }
            }
        </dd>

        <dt>
            Tipo de Imóvel
        </dt>
        <dd>
            @for (var j = 0; j < @Model.fixo.Count; j++)
            {
                if (@Model.fixo[j][1] == "TipoImovel")
                {

                    @Model.fixo[j][2]
                }
            }
        </dd>



        <dt>
            Área Mínima
        </dt>

        <dd>
            @for (var j = 0; j < @Model.parametroIntervaloNumerico.Count; j++)
            {
                if (@Model.parametroIntervaloNumerico[j][1] == "area")
                {

                    @Model.parametroIntervaloNumerico[j][2]
                }
            }
        </dd>

        <dt>
            Área Máxima

        </dt>
        <dd>
            @for (var j = 0; j < @Model.parametroIntervaloNumerico.Count; j++)
            {
                if (@Model.parametroIntervaloNumerico[j][1] == "area")
                {
                    if (@Model.parametroIntervaloNumerico[j][3] == "0")
                    { 
                        <h5> </h5>
                    }
                    else 
                    {
                    @Model.parametroIntervaloNumerico[j][3]
                    }
                }
            }
        </dd>

        <dt>
            Preço Mínimo
        </dt>
        <dd>
            @for (var j = 0; j < @Model.parametroIntervaloNumerico.Count; j++)
            {
                if (@Model.parametroIntervaloNumerico[j][1] == "preco")
                {
                    @Model.parametroIntervaloNumerico[j][2]
                }
            }
        </dd>

        <dt>
            Preço Máximo
        </dt>
        <dd>
            @for (var j = 0; j < @Model.parametroIntervaloNumerico.Count; j++)
            {
                if (@Model.parametroIntervaloNumerico[j][1] == "preco")
                {
                    if (@Model.parametroIntervaloNumerico[j][3] == "0")
                    {
                        <h5> </h5>
                    }
                    else
                    {            
                    @Model.parametroIntervaloNumerico[j][3]
                    }
                }
            }
        </dd>

        <dt>
            Local
        </dt>

        <dd>
            @for (var j = 0; j < @Model.parametroAlfaNumerico.Count; j++)
            {
                if (@Model.parametroAlfaNumerico[j][1] == "local")
                {

                    @Model.parametroAlfaNumerico[j][2]
                }
            }
        </dd>
        </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
