﻿@model IEnumerable<APPClienteIt3.Models.Alerta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@if (@ViewBag.Alertas.Count > 0)
    {
    <table class="table">
        <tr>
            <th>
                Tipo de Anúncio
            </th>
            <th>
                Tipo de Imóvel
            </th>
            <th>
                Área Minima
            </th>
            <th>
                Área Maxima
            </th>
            <th>
                Preço Minimo
            </th>
            <th>
                Preço Maximo
            </th>
            <th>
                Local
            </th>
            <th></th>
        </tr>

        @for (var i = 0; i < ViewBag.Alertas.Count; i++)
        {
            
            <tr>
                <td>
                    @for (var j = 0; j < @ViewBag.Alertas[i].fixo.Count; j++)
                    {
                            if (@ViewBag.Alertas[i].fixo[j][1] == "TipoAnuncio")
                            {
                        <h5>@ViewBag.Alertas[i].fixo[j][2]</h5>
                    }
                    }
                </td>
                <td>
                    @for (var j = 0; j < @ViewBag.Alertas[i].fixo.Count; j++)
                    {
                        if (@ViewBag.Alertas[i].fixo[j][1] == "TipoImovel")
                        {

                            <h5>@ViewBag.Alertas[i].fixo[j][2]</h5>
                        }
                    }
                </td>


                <td>
                    @for (var j = 0; j < @ViewBag.Alertas[i].parametroIntervaloNumerico.Count; j++)
                    {
                        if (@ViewBag.Alertas[i].parametroIntervaloNumerico[j][1] == "area")
                        {

                            @ViewBag.Alertas[i].parametroIntervaloNumerico[j][2]
                        }
                    }
                </td>

                <td>
                    @for (var j = 0; j < @ViewBag.Alertas[i].parametroIntervaloNumerico.Count; j++)
                    {
                        if (@ViewBag.Alertas[i].parametroIntervaloNumerico[j][1] == "area")
                        {
                            if (@ViewBag.Alertas[i].parametroIntervaloNumerico[j][3] == "0") { <h5> </h5>}
                            else { 
                            @ViewBag.Alertas[i].parametroIntervaloNumerico[j][3]
                            }
                        }
                    }
                </td>
                
                <td>
                    @for (var j = 0; j < @ViewBag.Alertas[i].parametroIntervaloNumerico.Count; j++)
                    {
                        if (@ViewBag.Alertas[i].parametroIntervaloNumerico[j][1] == "preco")
                        {

                            @ViewBag.Alertas[i].parametroIntervaloNumerico[j][2]
                        }
                    }
                </td>

                <td>
                    @for (var j = 0; j < @ViewBag.Alertas[i].parametroIntervaloNumerico.Count; j++)
                    {
                        if (@ViewBag.Alertas[i].parametroIntervaloNumerico[j][1] == "preco")
                        {
                            if (@ViewBag.Alertas[i].parametroIntervaloNumerico[j][3] == "0")
                            { 
                                <h5> </h5>
                    }
                            else
                            {
                            @ViewBag.Alertas[i].parametroIntervaloNumerico[j][3]
                            }
                        }
                    }
                </td>

                <td>
                    @for (var j = 0; j < @ViewBag.Alertas[i].parametroAlfaNumerico.Count; j++)
                    {
                        if (@ViewBag.Alertas[i].parametroAlfaNumerico[j][1] == "local")
                        {

                            @ViewBag.Alertas[i].parametroAlfaNumerico[j][2]
                        }
                    }
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = ViewBag.Alertas[i].ID }) |
                    @Html.ActionLink("Details", "Details", new { id = ViewBag.Alertas[i].ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = ViewBag.Alertas[i].ID })
                </td>
                    
            </tr>
        }

    </table>
}

else
{
    <br />
    <h5>Não existem Alertas Criados.</h5>
}