﻿@model IEnumerable<APPAdministrador.ViewModels.Anuncio_Compra>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tipoImovel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.local)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IntervaloCorrespondencia)
        </th>
        <th></th>
    </tr>
    @for (int i = 0; i < ViewBag.Anuncios_Compra.Count; i++)
    {
        <tr>
            <td>
                @ViewBag.Anuncios_Compra[i].tipoImovel
            </td>
            <td>
                @ViewBag.Anuncios_Compra[i].local
            </td>
            <td>
                @ViewBag.Anuncios_Compra[i].IntervaloCorrespondencia
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = @ViewBag.Anuncios_Compra[i].ID })
            </td>
        </tr>
    }
    @for (int i = 0; i < ViewBag.Anuncios_Venda.Count; i++)
    {
        <tr>
              <td>
                @ViewBag.Anuncios_Venda[i].tipoImovel
            </td>
            <td>
                @ViewBag.Anuncios_Venda[i].local
            </td>
            <td>
                @ViewBag.Anuncios_Venda[i].IntervaloCorrespondencia
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", "Anuncio_Venda", new { id = @ViewBag.Anuncios_Venda[i].ID }, null)
            </td>
        </tr>
    }

</table>
