﻿<div class="jumbotron">
    <h1>Aplicação 3D Renderer</h1>
    <p class="lead">
        No âmbito das iterações 4 e 5 da unidade curricular de ARQSI foi desenvolvida esta API que visa fornecer imagens 2D e 3D ao mediador para atribuir a anúncios.
    </p>
    <p>Funcionalidades: </p>
    <ul>
        <li>
            Fornecer imagens 2D e 3D ao mediador
        </li>
    </ul>
    <p>Imagens usadas do jogo The Sims encontradas no Google</p>
</div>

