﻿@{
    ViewBag.Title = "Info";
}
<hgroup>
    <h2>@ViewBag.Title</h2>
    <h3>Projeto realizado no âmbito da cadeira de Arquitetura de Sistemas (ARQSI)</h3>
</hgroup>
<div>
    <address>
        Instituto Superior de Engenharia do Porto<br />
        Departamento de Engenharia Informática<br />
        Cadeira de ARQSI <br />
        Anúncios de Imóveis It3
    </address>

    <address>
        <i class="icon-envelope"></i><strong>António Pinheiro:</strong> <a href="mailto:1130339@isep.ipp.pt">1130339@isep.ipp.pt</a>
        <br />
        <i class="icon-envelope"></i><strong>Cristina Lopes:</strong> <a href="mailto:1130371@isep.ipp.pt">1130371@isep.ipp.pt</a>

    </address>
</div>