﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Aplicação de ARQSI It3</h1>
    <p class="lead">No seguimento da iteração 1 e 2, pretende-se informatizar alguns outros processos de negócio duma imobiliária.</p>
</div>
<div class="row">

        <div class="col-md-4">
            <h2>Gerir Anúncios</h2>
            <p>
                Gerir (RUD) anúncio venda/permuta/compra de imóvel (tipo de anúncio e imóvel, localização GPS, fotos e associar o mediador)
            </p>
            <p><a class="btn btn-default" href="/Anuncios/Index">Anúncios &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Gerir Alertas</h2>
            <p>Gerir (RUD) alertas de venda/permuta/compra de imóvel segundo facetas.</p>
            <p><a class="btn btn-default" href="/Alertas/Index">Alertas &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Tipos de Imóveis</h2>
            <p>Lista de todos os tipos de imóveis e os sub tipo entre tipo de imóveis. </p>
            <p><a class="btn btn-default" href="/TipoImovels/Index">Tipo de Imóveis &raquo;</a></p>
        </div>
</div>