﻿@model APPClienteIt3.Models.Anuncio_Compra

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<h4>Compra de Imóvel</h4>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tipo de Imóvel
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoImovel)
        </dd>
        <br/>
        <dt>
            Localização
        </dt>

        <dd>
            @Html.DisplayFor(model => model.local)
        </dd>
        <br/>
        <dt>
            Área Mínima
        </dt>

        <dd>
            @Html.DisplayFor(model => model.areaMin)
        </dd>
        <br/>
        <dt>
            Área Máxima
        </dt>

        <dd>
            @Html.DisplayFor(model => model.areaMax)
        </dd>
        <br/>
        <dt>
            Preço Mínimo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precoMin)
        </dd>
        <br/>
        <dt>
            Preço Máximo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precoMax)
        </dd>
        <br/>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {controller = "Anuncio_Compra", id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index", "Anuncios")
</p>
