﻿@model IEnumerable<APPClienteIt3.Models.Anuncio_Compra>

@{
    ViewBag.Title = "Lista";
    Layout = null;
}


@if (Model.Any())
{
    <h4>Compra de Imóveis</h4>

    <table class="table">
        <tr>
            <th>
                Tipo de Imóvel
            </th>
            <th>
                Localização
            </th>
            <th>
                Área Mínima
            </th>
            <th>
                Área Máxima
            </th>
            <th>
                Preço Mínimo
            </th>
            <th>
                Preço Máximo
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.tipoImovel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.local)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.areaMin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.areaMax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.precoMin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.precoMax)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
}