﻿@model APPClienteIt3.Models.Imovel_Compra

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<h4>Imóvel Compra</h4>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Imovel_Compra</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.tipo_de_imovel.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_de_imovel.nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.localizacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.localizacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.areaMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.areaMin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.areaMAx)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.areaMAx)
        </dd>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
