﻿@model APPClienteIt3.Models.Imovel_Compra

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<h4>Imóvel Compra</h4>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.tipo_de_imovel.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_de_imovel.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.localizacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.localizacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.areaMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.areaMin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.areaMAx)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.areaMAx)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
